<button
  mat-button
  style="
    color: rgb(9, 9, 26);
    background-color: #368af0;

    padding-right: 9rem;
    margin: 1.5rem;
    padding-left: 8rem;
  "
  color="accent;"
>
  Users
</button>
<button
  mat-button
  style="
    color: rgb(8, 8, 17);
    padding-right: 9rem;
    border-width: revert;
    border-style: ridge;

    margin: 1.5rem;
    padding-left: 8rem;
  "
  color="accent;"
>
  Roles & Permissions
</button>
<button
  mat-button
  style="
    color: rgb(10, 10, 31);
    padding-right: 9rem;
    border-width: revert;
    border-style: ridge;
    margin: 2rem;
    padding-left: 8rem;
  "
  color="accent;"
>
  Groups
</button>

<mat-divider style="margin-top: 10px"></mat-divider>
<div class="container" style="margin-top: 10px">
  <label style="font-size: 20px; font-weight: 500">User</label>
  <label style="color: #8e8e8e; margin-left: 10px; font-weight: 500">
    < Rolestestingv2
  </label>
</div>
<mat-divider style="margin-top: 10px"></mat-divider>
<button
  mat-button
  style="
    text-align: center;
    color: rgb(9, 9, 26);
    

    padding-right: 2rem;
    margin: 1rem;
    padding-left: 2rem;
    border-width: revert;
    border-style: ridge;
  "
  color="accent;"
>
  General
</button>
<button
  mat-button
  style="
    text-align: center;
    color: rgb(8, 8, 17);
    padding-right: 2rem;
   
    background-color: #368af0;
    margin: 1rem;
    padding-left: 2rem;
  "
  color="accent;"
>
  Role
</button>
<button
  mat-button
  style="
    text-align: center;
    color: rgb(10, 10, 31);
    padding-right: 2rem;
    border-width: revert;
    border-style: ridge;
    margin: 0.7rem;
    padding-left: 2rem;
  "
  color="accent;"
>
  Groups
</button>
<div class="checkbox" style="margin: .5rem;">
    <label class="role">Role</label>
<mat-checkbox   style="margin: 2rem;" color="primary">Manager</mat-checkbox>
<mat-checkbox style="margin: 2rem;"  color="primary">Admin</mat-checkbox>
<mat-checkbox style="margin: 2rem;" color="primary">Accountant</mat-checkbox>
<mat-checkbox style="margin: 2rem;" color="primary">Analyst</mat-checkbox>
<mat-checkbox style="margin: 2rem;" color="primary">Customer Support</mat-checkbox>
</div>
    <div style="display: flex; justify-content: flex-end; margin: 2.5rem;">
<button  mat-raised-button role="link"  #links routerLinkActive="active-link" routerLink="/setup/form/rols&permissions" style="margin: .6rem;" color="primary">Save</button>
    </div>