<!-- Text -->
<mat-form-field   style="display: grid;" class="example-full-width">
    <input matInput type="text" placeholder="Article Title" value="The Angular 12 Material">
  </mat-form-field>
  <!-- Color -->
  <mat-form-field class="example-full-width">
    <input matInput type="color" placeholder="Choose Your Color">
  </mat-form-field>
  <!-- Date -->
  <mat-form-field class="example-full-width">
    <input matInput type="date" placeholder="Published Date">
  </mat-form-field>
  <!-- Datetime-Local -->
  <mat-form-field class="example-full-width">
    <input matInput type="datetime-local" placeholder="Published Date (Local)">
  </mat-form-field>
  <!-- Email -->
  <mat-form-field class="example-full-width">
    <input matInput type="email" placeholder="Your Email Address">
  </mat-form-field>
  <!-- Month -->
  <mat-form-field class="example-full-width">
    <input matInput type="month" placeholder="Published Month">
  </mat-form-field>
  <!-- Number -->
  <mat-form-field class="example-full-width">
    <input matInput type="number" placeholder="Price">
  </mat-form-field>
  <!-- Password -->
  <mat-form-field class="example-full-width">
    <input matInput type="password" placeholder="Enter Your Password">
  </mat-form-field>
  <!-- Search -->
  <mat-form-field class="example-full-width">
    <input matInput type="search" placeholder="Find here">
  </mat-form-field>
  <!-- Phone Number -->
  <mat-form-field class="example-full-width">
    <input matInput type="tel" placeholder="Your Phone Number">
  </mat-form-field>
  <!-- Time -->
  <mat-form-field class="example-full-width">
    <input matInput type="time" placeholder="Release Time">
  </mat-form-field>
  <!-- URL -->
  <mat-form-field class="example-full-width">
    <input matInput type="url" placeholder="Your Website">
  </mat-form-field>
  <!-- Week -->
  <mat-form-field class="example-full-width">
    <input matInput type="week" placeholder="Release Week">
  </mat-form-field>